{% extends "base.html" %}

{% block body %}
    <div class="container-h block color2">
        {% if session['is_user_admin'] %}
            <a class="user_btn" href="{{url_for('users.create')}}">
                Create
            </a>
            
            <form id="user_search" method="GET" action="{{ url_for('users.search') }}">
                <input class="user_btn" type="submit" value="Search">
                <input name="search_string" id="search_string" value="" required>
            </form>
        {% endif %}
    </div>
    {% for user in users['items'] %}
        <article class="user">
        <header class="container-h block color2f">
            <div class="block_bold">{{ user['user_name'] }}</div>
            <div class="block">Updated: {{ user['last_edited'].strftime('%Y-%m-%d') }}</div>
            <a class="user_btn" href="{{ url_for('users.update', id=user['id']) }}">Edit</a>
            <a class="user_btn" href="{{ url_for('users.set_password', id=user['id']) }}">Set password</a>
            <a class="user_btn" onclick="return confirm('Are you sure?');" href="{{ url_for('users.delete', id=user['id']) }}">Delete</a>
        </header>
        </article>
    {% endfor %}

    <div class="container-h block color2">
    {% if users['_links']['prev'] %}
        <a class="user_btn" href="{{ users['_links']['prev'] }}">Previous</a>
    {% endif %}

    {% if users['_links']['next'] %}
        <a class="user_btn" href="{{ users['_links']['next'] }}">Next</a>
    {% endif %}
    </div>
{% endblock %}