{% extends "base.html" %}
{% block form %}
<div class="color3f">
<div class="block">
    <div class="block_bold">Update {{ provider['provider_name'] }}</div>

    <form class="container-v" method="post">
        <label>Provider name
            <input name="provider_name" value="{{ provider['provider_name'] }}" required>
        </label>
    
    <label>Provider email
            <input name="provider_email" value="{{ provider['provider_email'] }}" required>
    </label>
        
        <div class="container-h">
            <input class="prov_btn" type="submit" value="Save">
    </form>
            <form method="get" action="{{ url_for('providers.index') }}">
            <input class="prov_btn left_margin" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
        </form>
    </div>
</div>

{% endblock %}