/*All*/
* {
    font-family: Helvetica;
}

/*directions*/

.container-v {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
    align-items: center
}

/*sizing*/

a, input {
    font-size: 16px;
}

.big {
    font-size: 16px;
}

.fill_w {
    width: 100%
}

.button {
  width: fit-content;
}

/*Fill and shape*/

.white_textbox {
    background-color: white;
    font-size: 12px;
}

.block {
    text-decoration: none;
    color: black;
    padding: 16px 16px;
    display: inline-block;
    border: none;
    border-radius: 0;
}

.skinny_block {
    text-decoration: none;
    color: black;
    padding: 4px 4px;
    display: inline-block;
    border: 2px;
    border-radius: 2px;
}

/*Colors*/

.flash {
    background-color: #f37353;
}

.color0 {
    background-color: #f4fdc3;
}

.color1 {
    background-color: #358bb3;
}

.color1f {
    background-color: #9ac5d9
}

.color2 {
    background-color: #e0975f;
}

.color2f {
    background-color: #efcbaf
}

.color3 {
    background-color: #eab676;
}

.color3f {
    background-color: #f4daba;
}

.color4 {
    background-color: #76b5c5;
}

.color4f {
    background-color: #bbdae2;
}

.color5 {
    background-color: #993989;
}
