/*All*/
* {
    font-family: Helvetica;
}

/*directions*/

.container-v {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

/*sizing*/

a, input {
    font-size: 16px;
}

.fill_w {
    width: 100%
}

.button {
  width: fit-content;
}

/*Fill and shape*/

.white_textbox {
    background-color: white;
    font-size: 12px;
}

.block {
    text-decoration: none;
    color: black;
    padding: 16px 16px;
    display: inline-block;
    border: none;
    border-radius: 0;
}

/*Colors*/

.flash {
    color: #FF0000;
}

.color0 {
    background-color: #eeeee8;
}

.color1 {
    background-color: #358bb3;
}

.color2 {
    background-color: #e0975f;
}

.color3 {
    background-color: #eab676;
}

.color4 {
    background-color: #76b5c5;
}

.color5 {
    background-color: #995239;
}