
.container-v {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container-h {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end
}

.button {
  width: fit-content;
}

.flash {
    color: #FF0000;
}