{% extends "base.html" %}
{% block form %}
<div class="color4f">
    <div class="block">
    <div class="block_bold">Update {{ customer['customer_name'] }}</div>

    <form class="container-v" method="post">
        <label>Customer name
            <input name="customer_name" value="{{ customer['customer_name'] }}" required>
        </label>
    
    <label>Customer address
            <input name="customer_address" value="{{ customer['customer_address'] }}" required>
    </label>
        
        <div class="container-h">
            <input class="cust_btn" type="submit" value="Save">
    </form>
            <form method="get" action="{{ url_for('customers.index') }}">
                <input class="cust_btn" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
            </form>
    </div>
</div>
{% endblock %}