{% extends "base.html" %}

{% block body %}
    <div class="container-h block color4">
        {% if session['is_customer_admin'] %}
            <a class="cust_btn" href="{{ url_for('customers.create') }}">Create</a>
        {% endif %}
            <form method="GET" action="{{ url_for('customers.search') }}">
                <input class="cust_btn" type="submit" value="Search">
                <input name="search_string" value="" required>
            </form>
    </div>
    {% for customer in customers['items'] %}
        <article class="color4f">
        <header class="container-h block">
            <div class="block_bold">{{ customer['customer_name'] }}</div>
            <div class="container-h">
                <div class="address block">{{ customer['customer_address'] }}</div>
                <div class="updated">Update: {{ customer['last_edited'].strftime('%Y-%m-%d') }}</div>
            </div>
            <a class="cust_btn left_margin" href="{{ url_for('customers.customer_jobs', customer_id=customer['id']) }}">Jobs</a>
            {% if session['is_customer_admin'] %}
                <a class="cust_btn" href="{{ url_for('customers.update', customer_id=customer['id']) }}">Edit</a>
                <a class="cust_btn" onclick="return confirm('Are you sure?');" href="{{ url_for('customers.delete', customer_id=customer['id']) }}">Delete</a>
            {% endif %}
        </header>
        </article>
    {% endfor %}

    <div class="container-h block color4">
    {% if customers['_links']['prev'] %}
        <a class="cust_btn" href="{{ customers['_links']['prev'] }}">Previous</a>
    {% endif %}

    {% if customers['_links']['next'] %}
        <a class="cust_btn" href="{{ customers['_links']['next'] }}">Next</a>
    {% endif %}
    </div>

    {% block customer_form %}
    {% endblock %}

{% endblock %}