{% extends "base.html" %}
{% block form %}
        <header class="container-h block color4f">
            <div class="block_bold">{{ customer['customer_name'] }}</div>
            <div class="block">{{ customer['customer_address'] }}</div>
        </header>
  
        <header class="container-h block color2f">
            <div class="block_bold">{{ job.job_title }}</div>
            <div class="block">{{ job.job_start_date }}</div>
                {% if job.provider_id %}
                    <div class="block color3">Replace current provider: {{ job.provider.provider_name }}</div>
                    <a class="cust_btn left_margin" href="{{ url_for('customers.customer_jobs', customer_id=customer['id'])}}">Cancel</a>
                {% endif %}
        </header>

<div class="color3f">
    <form class="block" method="GET" action="{{ url_for('customers.customer_job_provider_search', customer_id = customer.id, job_id = job.id ) }}">
        <input class="prov_btn" type="submit" value="Search">
        <input name="search_string" value="" required>
    </form>
</div>

{% for provider in providers['items'] %}
        <article class="color3f">
        <header class="container-h block color3f">
            <div class="block_bold">{{ provider['provider_name'] }}</div>
            <div class="container-h">
                <div class="email block">{{ provider['provider_email'] }}</div>
                <div class="updated block">Updated: {{ provider['last_edited'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if session['is_provider_admin'] %}
                <a class="prov_btn" href="{{ url_for('customers.customer_job_assign_provider', customer_id=customer['id'], job_id=job.id, provider_id=provider['id']) }}">Assign to job</a>
            {% endif %}
        </header>
        </article>
{% endfor %}
<div class="container-h block color3">
    {% if providers['_links']['prev'] %}
        <a class="prov_btn" href="{{ providers['_links']['prev'] }}">Previous</a>
    {% endif %}

    {% if providers['_links']['next'] %}
        <a class="prov_btn" href="{{ providers['_links']['next'] }}">Next</a>
    {% endif %}
    </div>

{% endblock %}

