{% extends "dashboard/dashboard.html" %}
{% block pass_form %}
    <form class="container-v color1f" method="post">
        <label>Current password
            <input name="current_password" id="current_password" value="" type="password" required>
        </label>
        <label>New password
            <input name="new_password" id="new_password" value="" type="password" required>
        </label>
        <label>Repeat new password
            <input name="repeat_new_password" value="" type="password" required>
        </label>
        <div class="container-h">
            <input class="dash_btn" type="submit" value="Save">
        </form>
        <form method="get" action="{{ url_for('dashboard.index') }}">
            <input class="dash_btn" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
        </form>
        </div>
{% endblock %}