{% extends "base.html" %}

{% block head %}
<div class="big block color1 fill_w">Welcome {{session['user_name']}}</div>
{% endblock %}

{% block body %}  
        <div class="container-v color1f block fill_w">
            <form class="color1f" action="{{ url_for('dashboard.self_password_set') }}" method="get">
                <input class="dash_btn" type="submit" value="Set Password">
            </form>

            <form class="color1f" action="{{ url_for('dashboard.get_api_token') }}" method="get">
                <input class="dash_btn" type="submit" value="Get API token">
            </form>

            
    {% if api_token %}
    <div class="block color1f">
        <div>Your new API token: {{ api_token }}</div>
        <input class="dash_btn" onclick="navigator.clipboard.writeText('{{ api_token }}')" type="submit" value="Copy token to clipboard">
    </div>
    {% endif %}


            {% block pass_form%}
            {% endblock %}

            {% if session['is_user_admin'] %}
                <div>
                    You are a user admin.
                </div>
            {% else %}
                <div>
                    You are not a user admin.
                </div>
            {% endif %}
            {% if session['is_provider_admin'] %}
                <div>
                    You are a provider admin.
                </div>
            {% else %}
                <div>
                    You are not a provider admin.
                </div>
            {% endif %}
            {% if session['is_customer_admin'] %}
                <div>
                    You are a customer admin.
                </div>
            {% else %}
                <div>
                    You are not a customer admin.
                </div>
            {% endif %}
        </div>

{% endblock %}

