{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}    
    <div class="container-h block color1">
       
        <form id="auth-form" action="{{url_for('auth.login')}}" method="post">
            <div class="block">Welcome</div>
            <input type="text" name="user_name" placeholder="User name" class="input-field"/>
            <input type="password" name="password" placeholder="Password" class="input-field"/>
            <input type="submit" value="Log in" class="skinny_block"/>
        </form>
    </div>
{% endblock %}