<!DOCTYPE html>
<html lang=""en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Staffing</title>
    </head>
    <body>
        <header>Staffing management suite</header>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <div class="container-h">
            {% if session['user_name'] %}
            <a href="{{url_for('dashboard.dashboard')}}">Dashboard</a>
            {% endif %}
            
            {% if session['is_user_admin'] %}
                <a href="{{url_for('users.users')}}">Users</a>
            {% endif %}

            {% if session['user_name'] %}
            <a href="{{url_for('providers.providers')}}">Providers</a>

            <a href="{{url_for('customers.customers')}}">Customers</a>

            <a href="{{url_for('auth.logout')}}" class="logout">Log out</a>
            {% endif %}  
        </div>

        <hr>

        {% block head %}
        {% endblock %}

        {% block body %}
        {% endblock %}

    </body>
</html>