<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Staffing</title>
    </head>
    <body>
        <div class="block color0 fill_w">Staffing management suite</div>

        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        <div class="container-h">
            {% if session['user_name'] %}
            <a class="block color1" href="{{url_for('dashboard.index')}}">Dashboard</a>
            {% endif %}
            
            {% if session['is_user_admin'] %}
                <a class="block color2" href="{{url_for('users.index')}}">Users</a>
            {% endif %}

            {% if session['user_name'] %}
            <a class="block color3" href="{{url_for('providers.index')}}">Providers</a>

            <a class="block color4" href="{{url_for('customers.index')}}">Customers</a>

            <a class="block color5 fill_w" href="{{url_for('auth.logout')}}" class="logout">Log out</a>
            {% endif %}  
        </div>

        {% block head %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block form %}
        {% endblock %}
    </body>
</html>