{% extends "customers.html" %}
{% block form %}
    <form class="container-v color4f" method="post">
        <label>Customer name
            <input name="customer_name" value="" required>
        </label>

        <label>Customer address
            <input name="customer_address" value="" required>
        </label>

        <div class="container-h">
            <input class="block color4f" type="submit" value="Save">
        
        </form>
        <form method="get" action="{{ url_for('customers.index') }}">
            <input class="block color4f" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
        </form>
        </div>
{% endblock %}