{% extends "customers.html" %}
{% block form %}
    <article class="customer">
        <header class="container-h">
            <h1>{{ customer['customer_name'] }}</h1>
            <div class="container-v">
                <div class="address">{{ customer['customer_address'] }}</div>
                <div class="updated">Most recent update: {{ customer['last_edited'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if session['is_customer_admin'] %}
                <a class="action" href="{{ url_for('customers.customer_jobs_add', customer_id=customer['id']) }}">Add a job</a>
            {% endif %}
        </header>
        </article>

    {% block job %}
    {% endblock %}

    <hr>
    
    {% for job in jobs %}
        <article class="job container-h">
            <h1>{{ job['job_title'] }}</h1>
            <div>{{ job['job_start_date'] }}
                {% if job.provider_id %}
                    <div>Provider: {{ job.provider.provider_name }}</div>
                {% endif %}
            <a href="{{ url_for('customers.customer_job_provider_search', customer_id=customer['id'], job_id=job['id']) }}">find a provider</a>
        </article>
    {% endfor %}

    {% block provider_search %}
    {% endblock %}

{% endblock %}