{% extends "dashboard.html" %}
{% block pass_form %}
    <form class="container-v" method="post">
        <label>Current password
            <input name="current_password" id="current_password" value="" type="password" required>
        </label>
        <label>New password
            <input name="new_password" id="new_password" value="" type="password" required>
        </label>
        <label>Repeat new password
            <input name="repeat_new_password" id="repeat_new_password" value="" type="password" required>
        </label>
        <div class="container-h">
            <input class="button" type="submit" value="Save">
            <input type="submit" value="Cancel" action="{{ url_for('dashboard.dashboard') }}" method="get" formnovalidate>
        </div>
    </form>
        
{% endblock %}