{% extends "providers.html" %}
{% block form %}
<div class="color3f">
    <div class="block">
    <form class="container-v" method="post">
        <label>Provider name
            <input name="provider_name" id="provider_name" value="" required>
        </label>

        <label>Email
            <input name="provider_email" id="provider_email" value="" required>
        </label>
        <div class="container-h">
            <input class="prov_btn" type="submit" value="Save">
            </form>
            <form method="get" action="{{ url_for('providers.index') }}">
            <input class="prov_btn" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
        </form>
        </div>
</div>

{% endblock %}