{% extends "providers.html" %}
{% block form %}
    <form class="container-v" method="post">
        <label>User name
            <input name="provider_name" id="provider_name" value="" required>
        </label>

        <label>Email
            <input name="provider_email" id="provider_email" value="" required>
        </label>

        <input class="button" type="submit" value="Save">
    </form>
    <form action="{{ url_for('providers.providers') }}" method="get">
        <input class="danger" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
    </form>

{% endblock %}