{% extends "providers.html" %}
{% block form %}
    <form class="container-v" method="post">
        <label>Provider name
            <input name="provider_name" id="provider_name" value="" required>
        </label>

        <label>Email
            <input name="provider_email" id="provider_email" value="" required>
        </label>

        <div class="container-h">
            <input class="button" type="submit" value="Save">
            <input class="danger" type="submit" value="Cancel" action="{{ url_for('providers.index') }}" method="get" onclick="return confirm('Are you sure?');">
        </div>
    </form>

{% endblock %}