{% extends "base.html" %}
{% block body %}
    <div class="container-h block color3">
        {% if session['is_provider_admin'] %}
            <a class="prov_btn" href="{{url_for('providers.create')}}">Create</a>
        {% endif %}
            <form method="GET" action="{{ url_for('providers.search') }}">
                <input class="prov_btn" type="submit" value="Search">
                <input name="search_string" value="" required>
            </form>
        
    </div>
    {% for provider in providers['items'] %}
        <article class="color3f">
        <header class="container-h block color3f">
            <div class="block_bold">{{ provider['provider_name'] }}</div>
            <div class="container-h">
                <div class="email block">{{ provider['provider_email'] }}</div>
                <div class="updated block">Updated: {{ provider['last_edited'].strftime('%Y-%m-%d') }}</div>
            </div>
            {% if session['is_provider_admin'] %}
                <a class="prov_btn" href="{{ url_for('providers.update', id=provider['id']) }}">Edit</a>
                <a class="prov_btn" onclick="return confirm('Are you sure?');" href="{{ url_for('providers.delete', id=provider['id']) }}">Delete</a>
            {% endif %}
        </header>
        </article>
    {% endfor %}

    <div class="container-h block color3">
    {% if providers['_links']['prev'] %}
        <a class="prov_btn" href="{{ providers['_links']['prev'] }}">Previous</a>
    {% endif %}

    {% if providers['_links']['next'] %}
        <a class="prov_btn" href="{{ providers['_links']['next'] }}">Next</a>
    {% endif %}
    </div>

{% endblock %}