{% extends "base.html" %}

{% block head %}
<h1>Providers</h1>
{% endblock %}

{% block body %}
    <div class="container-h">
        {% if session['is_provider_admin'] %}
            <a href="{{url_for('providers.create')}}" class="create">Create</a>
        {% endif %}
            <form id="provider_search" method="GET" action="{{ url_for('providers.search') }}">
                <label>Search providers
                    <input name="search_string" id="search_string" value="" required>
                </label>
                <input class="button" type="submit" value="Search">
            </form>
        
    </div>

    <hr>

    {% for provider in providers %}
        <article class="provider">
        <header class="container-h">
            <h1>{{ provider['provider_name'] }}</h1>
            <div class="about">Most recent update: {{ provider['last_edited'].strftime('%Y-%m-%d') }}</div>
            {% if session['is_provider_admin'] %}
                <a class="action" href="{{ url_for('providers.update', id=provider['id']) }}">Edit</a>
                <a class="danger" onclick="return confirm('Are you sure?');" href="{{ url_for('providers.delete', id=provider['id']) }}">Delete</a>
            {% endif %}
        </header>
        </article>
    {% endfor %}

    {% block form %}
    {% endblock %}
{% endblock %}