{% extends "users.html" %}
{% block form %}
    <h2>Edit "{{ user['user_name'] }}"</h2>

    <form class="container-v" method="post">
        <label>New password
            <input name="new_password" value="" required>
        </label>

        <div class="container-h">
            <input class="button" type="submit" value="Save">
            <input class="danger" type="submit" value="Cancel" action="{{ url_for('users.index') }}" method="get" onclick="return confirm('Are you sure?');">
        </div>
    </form>

{% endblock %}