{% extends "base.html" %}

{% block head %}
<h1>Users</h1>
{% endblock %}

{% block body %}
    <div class="container-h">
        {% if session['is_user_admin'] %}
            <a href="{{url_for('users.create')}}" class="create">
                Create
            </a>
            
            <form id="user_search" method="GET" action="{{ url_for('users.search') }}">
                <label>Search users
                    <input name="search_string" id="search_string" value="" required>
                </label>
                <input class="button" type="submit" value="Search">
            </form>
        {% endif %}
    </div>

    <hr>

    {% for user in users %}
        <article class="user">
        <header class="container-h">
            <h1>{{ user['user_name'] }}</h1>
            <div class="about">Most recent update: {{ user['last_edited'].strftime('%Y-%m-%d') }}</div>
            <a class="action" href="{{ url_for('users.update', id=user['id']) }}">Edit</a>
            <a class="action" href="{{ url_for('users.set_password', id=user['id']) }}">Set password</a>
            <a class="danger" onclick="return confirm('Are you sure?');" href="{{ url_for('users.delete', id=user['id']) }}">Delete</a>
        </header>
        </article>
    {% endfor %}

    {% block form %}
    {% endblock %}
{% endblock %}