{% extends "users.html" %}
{% block form %}
<div class="container-v color2f">
    <form class=" block container-v color2f" method="post">
        <label>User name
            <input name="user_name" value="" required>
        </label>

        <label>Password
            <input name="password" value="" type="password" required>
        </label>

        <label>User admin
            <input type="checkbox" name="user_admin">
        </label>

        <label>Provider admin
            <input type="checkbox" name="provider_admin">
        </label>

        <label>Customer admin
            <input type="checkbox" name="customer_admin">
        </label>
        <div class="container-h">
            <input class="user_btn" type="submit" value="Save">
    </form>
            <form method="get" action="{{ url_for('users.index') }}">
            <input class="user_btn" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
            </form>
        </div>
</div>
        

{% endblock %}