{% extends "base.html" %}

{% block head %}
<h1>Users</h1>
{% endblock %}

{% block body %}
    <div class="container-h">
        {% if session['is_user_admin'] %}
            <a href="{{url_for('users.create')}}" class="create">
                Create
            </a>
            
            <form id="user_search" method="GET" action="{{ url_for('users.user_search') }}">
                <label>Search users
                    <input name="search_string" id="search_string" value="" required>
                </label>
                <input class="button" type="submit" value="Search">
            </form>
        {% endif %}
    </div>

    {% for user in users %}
        <article class="user">
        <header>
            <div>
            <h1>{{ user['username'] }}</h1>
            <div class="about">Created {{ user['created'].strftime('%Y-%m-%d') }}</div>
            </div>
            <a class="action" href="{{ url_for('users.update_user', id=user['username']) }}">Edit</a>
        </header>
        </article>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% endfor %}

    {% block form %}
    {% endblock %}
{% endblock %}


