{% extends "users.html" %}
{% block form %}
<div class="color2f">
    <h2>Edit {{ user['user_name'] }}</h2>

    <form class="container-v color2f" method="post">
        <label>User name
            <input name="user_name" id="user_name" value="{{ user['user_name'] }}" required>
        </label>

        <label>User admin
            <input type="checkbox" name="user_admin" id="user_admin" {% if user['is_user_admin'] %}checked{% endif %}>
        </label>

        <label>Provider admin
            <input type="checkbox" name="provider_admin" id="provider_admin" {% if user['is_provider_admin'] %}checked{% endif %}>
        </label>

        <label>Customer admin
            <input type="checkbox" name="customer_admin" id="customer_admin" {% if user['is_customer_admin'] %}checked{% endif %}>
        </label>
        <div class="container-h">
            <input class="block color2f" type="submit" value="Save">
    </form>
            <form method="get" action="{{ url_for('users.index') }}">
            <input class="block color2f" type="submit" value="Cancel" onclick="return confirm('Are you sure?');" formnovalidate>
            </form>
        </div>
</div>
{% endblock %}